html, body, canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	overflow: hidden;
}

#menu {
	float: left;
	width: 99vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	height: 3.5vh;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

#menu ul {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#menu li {
	float: left;
	width: 20%;
	height: 100%;
	list-style: none;
	position: relative;
}

#menu li a {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	cursor: default;
	user-select: none;
	font-family: Arial;
	font-size: 2vmin;
	background-color: #4D4D4D;
	color: white;
}

#menu li a:hover {
	background-color: #646464;
}

#menu ul ul {
	padding-top: 0.5vh;
	visibility: hidden;
	position: absolute;
}

#menu ul li:hover ul {
	visibility: visible;
}

#menu ul ul li {
	width: 100%;
}

#menu ul ul li a {
	cursor: default;
	background-color: #4D4D4D;
}

#menu ul ul li a:hover {
	background-color: #646464;
}

#importedXml {
	width: 100%;
	height: 100%;
	opacity: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	position: absolute;
}

#webglArea {
	float: left;
	width: 49vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	height: 95vh;
	margin-bottom: 0.5vh;
	background-color: #000000;
}

#blocklyArea {
	float: left;
	width: 49vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	height: 95vh;
	margin-bottom: 0.5vh;
}

#blocklyDiv {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
}
