html, body, canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	overflow: hidden;
}

iframe {
	display: none;
}

#menu {
	float: left;
	width: 99vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	height: 3.5vh;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

#menu ul {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#menu li {
	float: left;
	width: 20%;
	height: 100%;
	list-style: none;
	position: relative;
}

#menu li a {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	user-select: none;
	font-family: Arial;
	font-size: 2vmin;
	color: white;
	background-color: #4D4D4D;
}

#menu li a:hover {
	background-color: #646464;
}

#menu ul ul {
	padding-top: 0.5vh;
	visibility: hidden;
	position: absolute;
	z-index: 2147483647;
}

#menu ul li:hover ul {
	visibility: visible;
}

#menu ul ul li {
	width: 100%;
	cursor: pointer;
}

#menu ul ul li a {
	background-color: #4D4D4D;
}

#menu ul ul li a:hover {
	background-color: #646464;
}

#stopButton, #runButton {
	cursor: pointer;
}

#menu form, #importedXml {
	opacity: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	position: absolute;
	display: none;
	z-index: -21;
}

#webglArea {
	float: left;
	width: 49vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	height: 95vh;
	margin-bottom: 0.5vh;
	background-color: #000000;
}

#blocklyArea {
	float: left;
	width: 49vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	height: 95vh;
	margin-bottom: 0.5vh;
}

#blocklyDiv {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
}

#alertArea {
	width: 49vw;
	margin-left: 50.5vw;
	margin-right: 0.5vw;
	height: 95vh;
	margin-bottom: 0.5vh;
	margin-top: 4.5vh;
	z-index: 2147483647;
	font-size: 2vmin;
	background-color: #DDDDDD;
	opacity: 0.95;
	display: none;
	position: absolute;
}

#alertPre {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 88%;
	margin-top: 1%;
	margin-bottom: 1%;
	overflow-y: scroll;
	display: block;
	white-space: pre-wrap;
	position: relative;
}

#okButton {
	width: 100%;
	height: 10%;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: 0;
	font-family: Arial;
	color: white;
	background-color: #4D4D4D;
}

#okButton:hover {
	background-color: #646464;
	cursor: pointer;
}
